.slick-prev {
    position: absolute;

    top: -23px;
    left: 230px
}

.slick-next {
    position: absolute;
    top: -23px;
}

.slick-arrow.slick-prev:before {
    display: block;
    font-size: 25px;
    font-family: 'FontAwesome';
    content: "\f104";
}

.slick-arrow.slick-next:before {
    display: block;
    font-size: 25px;
    font-family: 'FontAwesome';
    content: "\f105";
}