//Section Main Banner
.main-banner {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 -15px;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-data {
        text-align: left;
        font-family: $mont-bold;
        color: $white;
        margin-bottom: 76%;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 15px;
        }

        @include media-breakpoint-up(sm) {
            text-align: center;
            margin-bottom: 10%;

            h1 {
                font-size: 42px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

//Section Univeristy Repeater
.university-repeater {
    flex-direction: column;
    margin-top: -21em;
    min-height: 60vh;

    .university {

        .data {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 1px 2px 2px 0px $white-smoke;
            border: .2px solid $white-smoke;
            border-top: 5px solid $havelock-blue;
            border-bottom-left-radius: 1%;
            border-bottom-right-radius: 1%;
            margin-top: 2em;
            background-color: $white;
            height: 600px;

            img {
                width: 70%;
                align-self: center;
                margin-top: 1em;
            }

            p {
                text-align: center;
                font-family: $mont-reg;
                padding: 30px;
                font-size: 14px;

                @include media-breakpoint-up(sm) {
                    padding: 50px;
                }
            }
        }

    }

    div:nth-child(2) {
        .data {
            border-top: 5px solid $ochre;
        }
    }
}

//About TEFL Section

.about-tefl {
    flex-direction: column;
    margin-top: 3em;
    min-height: 60vh;

    .about-data {
        h1 {
            font-size: 24px;
            font-family: $mont-bold;
            text-align: center;

            @include media-breakpoint-up(sm) {
                font-size: 32px;
            }
        }

        .paragraph-repeater {
            @include media-breakpoint-up(sm) {
                padding: 0 183px;
            }

            p {
                font-size: 16px;
                font-family: $mont-reg;

            }
        }

    }

    .about-repeater {
        align-items: center;
        text-align: center;
        padding: 20px 0;

        h4 {
            font-size: 20px;
            font-family: $mont-bold;
            margin: 1em 0;
        }

        p {
            font-size: 14px;
            font-family: $mont-reg;
        }
    }

    .notice {
        text-align: center;
        font-size: 14px;
        font-family: $mont-reg;
        font-style: italic;

        .notice_2 {
            a {
                color: $apple;
            }
        }
    }
}

//Employers Section
.employer-tefl {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black-squeeze;
    flex-direction: column;
    margin: 3em 0;


    .section-title {
        font-family: $mont-bold;

        h1 {
            font-size: 24px;
            margin: 1em 0;
            text-align: center;

            @include media-breakpoint-up(sm) {
                font-size: 32px;
            }
        }
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
            width: auto;
            padding: 10px;
            margin-right: -4em;
        }

        img {

            width: 150px;

            @include media-breakpoint-up(sm) {
                width: auto;
                padding: 10px;
            }
        }

    }

}

//Courses Section
@include media-breakpoint-down(md) {
    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }

}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;



    .section-title {
        font-family: $mont-bold;
        text-align: center;

        h1 {
            font-size: 24px;
            @include media-breakpoint-up(sm) {
                font-size: 32px;
            }
        }
    }

    .row {
        margin: 0;
        margin-top: 50px;
        @include media-breakpoint-down(sm){
        	flex-direction: column-reverse;
        }

        &.right-side {
            flex-direction: row-reverse;
             @include media-breakpoint-down(sm){
        	flex-direction: column-reverse;
        }
        }

        @include media-breakpoint-down (md) {
            img {
                margin-bottom: 2em;
            }
        }

        .main-image {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }

        .second-col {
            @include media-breakpoint-up(sm) {
                .uni-image {
                    max-width: 70%;
                    padding-left: 15px;
                }
            }

            .text-repeater {


                @include media-breakpoint-up(sm) {
                    padding: 50px 0;
                }

                p {
                    font-size: 16px;
                    font-family: $mont-reg;

                    @include media-breakpoint-up(sm) {
                        padding: 20px 0;
                    }

                    i {
                        color: $apple;
                        font-size: 16px;
                        margin-right: .5em;
                    }
                }
            }

            .buttons {
                @include media-breakpoint-up(sm) {
                    flex-direction: row;
                  
                    .cta-button {
                        padding: 7.5px 20px;
                        margin-right: 2em;
                    }

                    .cta-white {
                        margin: 0;
                    }
                }
                @include media-breakpoint-down(sm){
                	  align-items: flex-start;
                }
            }
        }
    }
}