//Section Main Banner
.main-banner {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 -15px;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-data {
        text-align: left;
        font-family: $mont-bold;
        color: $white;
        margin-bottom: 76%;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 15px;
        }

        @include media-breakpoint-up(sm) {
            text-align: center;
            margin-bottom: 10%;

            h1 {
                font-size: 42px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

//Section Univeristy Repeater
.university-repeater {
    flex-direction: column;
    margin-top: -21em;

    .university {

        .data {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 1px 2px 2px 0px $white-smoke;
            border: .2px solid $white-smoke; 
            border-top: 5px solid $havelock-blue;
            border-bottom-left-radius: 1%;
            border-bottom-right-radius: 1%;
            margin-top: 2em;
            background-color: $white;
            height: 600px;
            img {
                width: 70%;
                align-self: center;
                margin-top: 1em;
            }

            p {
                text-align: center;
                font-family: $mont-reg;
                padding: 30px;
                font-size: 14px;

                @include media-breakpoint-up(sm){
                	padding: 50px;
                }
            }
        }

    }

    div:nth-child(2) {
        .data {
          border-top: 5px solid $ochre;
        }
    }
}